language: python
sudo: required
cache:
  directories:
  - "$HOME/.cache/pip"
python:
- '3.5'
- '3.6'
- "3.7"
install:
- pip install -r requirements_dev.txt
- pip install -e .
- pip list
script:
- py.test --pep8 -m pep8
- travis_wait py.test tests --cov questionary -v
after_success:
- coveralls
jobs:
  include:
  - stage: deploy
    python: 3.6
    install: skip
    script: skip
    deploy:
      provider: pypi
      user: tmbo
      distributions: "sdist bdist_wheel"
      on:
        branch: master
        tags: true
      password:
        secure: "lWPViBjwTyX6DOkzy+cOz5CuSC2LrvlSiXZE2RWLP/QRbVbths3PqpoGb0fxRIOjfLgtk9jJ3wBbCFfR79A0wGxYZ0WE0xJvRdYu6G5hzUl8MvhziznNQt6FhKtrbt91rqS81ASwSFgaxPVRhlNJXFAHpijstlCyqkVxtEnFz+8vSgz9uxQ4J8O+5ir7tSujMuS1F1wOH0MuOyOI//Ibq3RF8J+ny+0FNaPkajHxWl+6gzHf/9H8B8tDruzgKVTa/rZYBEJaaiQw7q/KIRbUvURqIkhSv2RT4vcWj4mCSkboNYlaD0XUY476PNovDoxnbcWCULyfjBV22TnmavB5ljcoFIfUviR1DolBxtPcGUrBRtRf/dFwVb0e4T9o4dSRI8VnoJ7g6wrWJAUvSpnN7cXWpaB3j6ECIy2nwLW4uN9BeF+OJLh313rXpGGelWJnT9n6gGhyhAt4xGzo1YNjiyDXZau2+4Rerly0GKM9u/offdqBTyMUMZj06nOKl9YFGX8a0///4vrJaCTHkFsEZ8/CbqAL3GbP3vrGvgKrofB5wcv9nXWKfA94UPIgEjUXSZFsnsrzYMbTQGM8jHDu/aNTYzwVtpeA2E/VYlG7yF5RQhOVvLep9HuCFqc2nx0nMuICp7VA1DM+wcnkB4zNcjG0XpoUng2bU7ycbe7UrnM="
